@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
  font-family: Roboto;
}

.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
 
}

.custom-logo {
  width: 8.375rem;
  height: 3.125rem;
}

/* Navigation
--------------------------------------------- */
.main-navigation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: Montserrat;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.main-navigation ul ul a {
  width: 12.5rem;
}

.main-navigation li {
  margin-right: 20px;
}

.main-navigation a {
  text-decoration: none;
  color: black;
}

/* Hero Banner
--------------------------------------------- */

.hero-banner {
  position: relative;
}

.hero-banner img {
  width: 100%;
  height: 500px;
}

.hero-banner-content {
  position: absolute;
  top: 30%;
  left: 12%;
  color: white;
  max-width: 80%;
}

.hero-banner-content h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background-color: #ff000f;
  margin-bottom: 20px;
  position: relative;
  left: 0;
  top: -10px;
}

.hero-banner-content h2 {
  font-family: Montserrat;
  font-size: 2.375rem;
  line-height: 0.025rem;
}

.hero-banner-content p {
  font-family: Montserrat;
  font-size: 2.175rem;
  letter-spaacing: 0.012rem;
  font-weight: 300;
  max-width: 80%;
}

.container {
  width: 80%;
  margin: 50px auto;
}

.content-section p {
  font-size: 16px;
  font-weight: 300;
  line-height: 27px;
  padding: 0 20px;
}

/* Media content
--------------------------------------------- */

section.main-content {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.main-content-container {
  max-width: 100%;
  margin: 50px 0;
}

.image-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 80%;
}

.image-text-container h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background-color: #ff000f;
  margin-bottom: 0px;
  position: relative;
  left: 0;
  top: -10px;
}

.image-text-container h2 {
  text-align: left;
  margin-left: 16%;
  font-family: Montserrat;
  font-weight: 500;
}

.image-text {
  display: flex;
  align-items: center;
}

.image-text img {
  max-width: 40rem;
  height: auto;
  margin-right: 0.6rem;
}

.image-text-description {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 1.1rem;
}

.image-text-button {
  background-color: #ff000f;
  padding: 1rem;
  max-width: 18.75rem;
  margin-top: 1.25rem;
  border-radius: 6.1875rem;
  color: #fff;
  text-align: center;
}

.image-text-button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

/* Media content
--------------------------------------------- */

section.main-content {
  background-color: #f0f0f0;
  padding: 20px 0;
}

.main-content-container {
  max-width: 100%;
  margin: 50px 0;
}

.image-text-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 80%;
}

.image-text-container h2::before {
  content: "";
  display: block;
  width: 50px;
  height: 5px;
  background-color: #ff000f;
  margin-bottom: 0px;
  position: relative;
  left: 0;
  top: -10px;
}

.image-text-container h2 {
  text-align: left;
  margin-left: 16%;
  font-family: Montserrat;
  font-weight: 500;
}

.image-text {
  display: flex;
  align-items: center;
}

.image-text img {
  max-width: 40rem;
  height: auto;
  margin-right: 0.6rem;
}


.image-text-description {
  text-align: left;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6rem;
  margin-bottom: 1.1rem;
}

.image-text-button {
  background-color: #ff000f;
  padding: 1rem;
  max-width: 18.75rem;
  margin-top: 1.25rem;
  border-radius: 6.1875rem;
  color: #fff;
  text-align: center;
}

.image-text-button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

/* Articles content
--------------------------------------------- */
section.articles {
  max-width: 100%;
  margin: 3.125rem auto;
}

.articles-container {
  max-width: 80%;
  margin: 0 auto;
}
.articles h2::before {
  content: "";
  display: block;
  width: 3.125rem;
  height: 0.3125rem;
  background-color: #ff000f;
  margin-bottom: 0px;
  position: relative;
  left: 0;
  top: -10px;
}

.articles h2 {
  font-size: 1.56rem;
  font-family: Montserrat;
  font-weight: 500;
}

.articles-content {
  display: flex;
  justify-content: center;
  gap: 0.625rem;
}

.articles-item h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.25rem;
}
.articles-item img {
  max-width: 100%;
  width: 20em;
  height: auto;
  object-fit: contain;
}
.articles-item p {
  font-size: 1em;
  font-weight: 300;
  line-height: 1.68rem;
}

.articles-button {
  background-color: #ff000f;
  padding: 0.93rem;
  max-width: 12.5rem;
  margin-top: 1.25rem;
  border-radius: 6.18rem;
  color: #fff;
  text-align: center;
}

.articles-button a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
}

/* Media Block
--------------------------------------------- */

section.media-block {
  max-width: 100%;
}
.media-block-container {
  width: 80%;
  margin: 3.125rem auto;
}

.media-block-item {
  display: flex;
  flex-wrap: wrap;
  margin: 1.25rem 0;
}

.media-block-1,
.media-block-2,
.media-block-3,
.media-block-4 {
  display: flex;
  margin: 3.125rem 0;
}

.media-block-1-img,
.media-block-3-img {
  width: 30em;
  height: auto;
  order: 0;
}

.media-block-1-content,
.media-block-3-content {
  width: 60%;
  margin-left: 1.25rem;
}

.media-block-1-content h3::before,
.media-block-3-content h3::before {
  content: "";
  display: block;
  width: 3.125rem;
  height: 0.31rem;
  background-color: #ff000f;
  margin-bottom: 0px;
  position: relative;
  left: 0;
  top: -10px;
}

.media-block-1-content h3,
.media-block-3-content h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.56rem;
}

.media-block-1-content p,
.media-block-3-content p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.68rem;
}

.media-block-2-content,
.media-block-4-content {
  width: 60%;
  margin-right: 1.25rem;
}

.media-block-2-img,
.media-block-4-img {
  width: 30em;
  height: auto;
  order: 1;
}

.media-block-2-content h3::before,
.media-block-4-content h3::before {
  content: "";
  display: block;
  width: 3.125rem;
  height: 0.312rem;
  background-color: #ff000f;
  margin-bottom: 0px;
  position: relative;
  left: 0;
  top: -10px;
}

.media-block-2-content h3,
.media-block-4-content h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 1.56rem;
}

.media-block-2-content p,
.media-block-4-content p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.68rem;
}

/* footer
--------------------------------------------- */

footer {
  background-color: #6e6e6e;
  max-width: 100%;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 2.5rem 0;
  margin: 0 auto;
  color: #ffffff;
  font-family: Montserrat;
}

.footer-col {
  width: 30%;
  text-align: center;
}

.footer-col-3 {
  width: 40%;
}

.footer-menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.footer-menu li a {
  text-decoration: none;
  color: #fff;
}

.footer-menu li a:hover {
  color: #ff000f;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.menu-toggle {
  display: none;
}


/* Responsive Design
--------------------------------------------- */

@media only screen and (min-width: 400px) and (max-width: 900px) {
  .custom-logo {
    width: 120px;
    height: 40px;
  }

  .header-sticky {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .main-navigation.toggled ul {
    display: block;
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: #fff;
    z-index: 9999;
    padding-top: 20px;
    
  }

  .main-navigation.toggled li {
    text-align: center;
    padding-bottom: 20px;
  }

  .main-navigation.toggled li a:hover{
    text-align: center;
    padding-bottom: 20px;
    color: #ff000f;
  }

  .main-navigation ul {
    display: none;
  }

  .hamburger-button {
    width: 30px;
    height: 22px;
    position: relative;
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  
  .hamburger-button:before,
  .hamburger-button:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
  }
  
  .hamburger-button:before {
    top: 0;
  }
  
  .hamburger-button:after {
    top: 8px;
  }
  
  .hamburger-button.is-active:before {
    transform: rotate(45deg);
    transform-origin: left;
    top: 50%;
  }
  
  .hamburger-button.is-active:after {
    transform: rotate(-45deg);
    transform-origin: left;
    top: 50%;
  }
  
  .home-icon {
    display: none;
  }
  

  /* Hero Banner
--------------------------------------------- */

  .hero-banner img {
    width: 100%;
    height: 18.75rem;
  }

  .hero-banner-content {
    top: 30%;
    left: 15%;
    width: 100%;
  }
  .hero-banner-content h2 {
    font-size: 1.56rem;
    line-height: 0.0625rem;
  }
  .hero-banner-content p {
    font-size: 1.125rem;
    max-width: 100%;
  }

  /* Media content
--------------------------------------------- */

  .image-text-container {
    display: block;
    max-width: 100%;
    justify-content: center;
  }

  .image-text {
    display: block;
    align-items: center;
    margin: 0 auto;
    width: 80%;
  }

  .image-text img {
    max-width: 100%;
    height: auto;
  }

  .image-text-description {
    text-align: left;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6rem;
    margin-bottom: 1.1rem;
  }

  /* Articles content
--------------------------------------------- */

  .articles-content {
    display: block;
    justify-content: center;
  }

  .articles-item img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  /* Media Blocks
--------------------------------------------- */

  .media-block-item {
    display: block;
    flex-wrap: wrap;
    margin: 1.25rem 0;
  }

  .media-block-1,
  .media-block-2,
  .media-block-3,
  .media-block-4 {
    display: block;
    margin: 3.125rem 0;
  }

  .media-block-1-img,
  .media-block-3-img {
    width: 100%;
    height: auto;
    order: 0;
  }

  .media-block-1-content,
  .media-block-3-content {
    width: 100%;
    margin-left: 1.25rem;
  }

  .media-block-2-content,
  .media-block-4-content {
    width: 100%;
    margin-right: 1.25rem;
  }

  .media-block-2-img,
  .media-block-4-img {
    width: 100%;
    height: auto;
    order: 1;
  }

  /* footer
--------------------------------------------- */
  .footer-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  .footer-container {
    display: block;
  }
  .footer-col {
    width: 100%;
  }
  .footer-col-3 {
    width: 100%;
  }
  .footer-container {
    font-size: 0.8rem;
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {



  /* Media content
--------------------------------------------- */

  .image-text {
    display: flex;
    align-items: center;
  }

  .image-text img {
    max-width: 30rem;
    height: auto;
    margin-right: 0.6rem;
  }

  .hero-banner-content p {
    font-size: 2.125rem;
    max-width: 100%;
  }

  /* footer
--------------------------------------------- */

  .footer-menu {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  .footer-container {
    display: block;
  }
  .footer-col {
    width: 100%;
  }
  .footer-col-3 {
    width: 100%;
  }
  .footer-container {
    font-size: 0.8rem;
  }
}

